<div class="container-fluid bodyheight">
    <div class="row padded-slide-lg">
        <div class="col-md-4" ng-controller="RegisterCtrl">
            <div class="page-header">
                <h5>Account Creation</h5>
            </div>
       
            <div class="text-center">
                <button class="btn btn-success btn-lg mar-tbmd" ng-click="OpenPopup();">
                    <i class="fa fa-user-plus"></i> Register
                </button>
            </div>








            </div>
        </div>
    </div>

